<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BoB.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>watchBoB Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3011123D2B96AEBC0035D079</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3011124A2B96B17E0035D079</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97DF8E942AE195FA00A33A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>97DF8EA92AE1968500A33A80</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
